<div class="rating">
  <h2>Rating</h2>
  <ul class="list">
    <li class="star0">
      <div class="empty"></div>
      <div class="empty"></div>
      <div class="empty"></div>
      <div class="empty"></div>
      <div class="empty"></div>
    </li>
    <li class="star1">
      <div class="plain"></div>
      <div class="empty"></div>
      <div class="empty"></div>
      <div class="empty"></div>
      <div class="empty"></div>
    </li>
    <li class="star2">
      <div class="plain"></div>
      <div class="plain"></div>
      <div class="empty"></div>
      <div class="empty"></div>
      <div class="empty"></div>
    </li>
    <li class="star3">
      <div class="plain"></div>
      <div class="plain"></div>
      <div class="plain"></div>
      <div class="empty"></div>
      <div class="empty"></div>
    </li>
    <li class="star4">
      <div class="plain"></div>
      <div class="plain"></div>
      <div class="plain"></div>
      <div class="plain"></div>
      <div class="empty"></div>
    </li>
    <li class="star5">
      <div class="plain"></div>
      <div class="plain"></div>
      <div class="plain"></div>
      <div class="plain"></div>
      <div class="plain"></div>
    </li>
  </ul>
</div>
